@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</main>


<div class="gallery">
    <a target="_blank" href="~/images/Kitchen.jpg">
        <img src="~/images/Kitchen.jpg" alt="Kitchen" />
    </a>
    <div class="description">Kitchen</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/Bathroom1.jpg">
        <img src="~/images/Bathroom1.jpg" alt="Bathroom1" />
    </a>
    <div class="description">Bathroom1</div>
</div>

<div class="gallery">
    <a target="_blank" href="~/images/LivingRoom1.jpg">
        <img src="~/images/LivingRoom1.jpg" alt="LivingRoom1" />
    </a>
    <div class="description">LivingRoom1</div>
</div>