@{
    ViewBag.Title = "Home Page";
}

<main>
    <link rel="stylesheet" href="~/Styles/StyleSheet1.css" />

    <div class="row">
        
        <section class="one" aria-labelledby="aspnetTitle">
            <h1 id="title">Kelsey's Home Designs'</h1>
            <p class="lead">Explore all you need and find your dream home</p>
        </section>

        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting Started</h2>
            <p>
                HOW TO GET STARTED WITH US
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <div class="Logo">
                <a target="_blank" href="~/images/Kelsey Designs_Logo.jpg">
                    <img src="~/images/Kelsey Designs_Logo.jpg" alt="Logo1" />
                </a>
            </div>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">ABOUT US</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>